services:
  admin_api:
    build: .
    environment:
      - ADMIN_API_CONFIG_FILE=/app/server.yaml
      - LOG_LEVEL=debug
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otel-collector:4317
      - COGNITO_REGION=${COGNITO_REGION}
      - COGNITO_USER_POOL_ID=${COGNITO_USER_POOL_ID}
      - COGNITO_CLIENT_ID=${COGNITO_CLIENT_ID}
      - COGNITO_CLIENT_SECRET=${COGNITO_CLIENT_SECRET}
      - COGNITO_DOMAIN=${COGNITO_DOMAIN}
    ports:
      - "8444:8444"
    volumes:
      - ./develop/certs:/app/certs:ro
      - ./develop/server.yaml:/app/server.yaml:ro
    depends_on:
      postgresql:
        condition: service_healthy
  otel-collector:
    image: otel/opentelemetry-collector:0.136.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./develop/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    depends_on:
      - victoriametrics
  # prometheus remote write
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    ports:
      - "8428:8428"
  # トレースを見る用
  jaeger:
    image: "jaegertracing/all-in-one:latest"
    ports:
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
  # victoriametricsのメトリクスを見る用
  grafana:
    image: grafana/grafana:12.2
    depends_on:
      - victoriametrics
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "secret"
  postgresql:
    image: postgres:18.0
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./develop/tacokumo_admin_db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin_api -d tacokumo_admin_db"]
      interval: 5s
      timeout: 5s
      retries: 5
