services:
  admin_api:
    build: .
    environment:
      - ADDR=0.0.0.0
      - PORT=8444
      - LOG_LEVEL=debug
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otel-collector:4317
      - ADMIN_DB_HOST=postgresql
      - ADMIN_DB_PORT=5432
      - ADMIN_DB_USER=admin_api
      - ADMIN_DB_PASSWORD=password
      - ADMIN_DB_NAME=tacokumo_admin_db
      - ADMIN_DB_INITIAL_CONN_RETRY=10
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - AUTH0_AUDIENCE=admin.tacokumo.pepalab.com
      - CORS_ALLOW_ORIGINS=https://localhost:8443,http://localhost:3000
      - CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
      - CORS_ALLOW_HEADERS=Content-Type,Authorization
      - CORS_EXPOSE_HEADERS=Authorization
      - CORS_ALLOW_CREDENTIALS=true
      - CORS_MAX_AGE=86400
      - TLS_ENABLED=true
      - TLS_CERT_FILE=/app/certs/api-server.crt
      - TLS_KEY_FILE=/app/certs/api-server.key
    ports:
      - "8444:8444"
    volumes:
      - ./develop/certs:/app/certs:ro
    depends_on:
      postgresql:
        condition: service_healthy
  otel-collector:
    image: otel/opentelemetry-collector:0.136.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./develop/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    depends_on:
      - victoriametrics
  # prometheus remote write
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    ports:
      - "8428:8428"
  # トレースを見る用
  jaeger:
    image: "jaegertracing/all-in-one:latest"
    ports:
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
  # victoriametricsのメトリクスを見る用
  grafana:
    image: grafana/grafana:12.2
    depends_on:
      - victoriametrics
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "secret"
  postgresql:
    image: postgres:18.0
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./develop/tacokumo_admin_db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d tacokumo_admin_db"]
      interval: 5s
      timeout: 5s
      retries: 5
